<div class="scrollbar fixed top-[5.4rem] left-1/2 transform translate-x-[-50%] h-[calc(100vh-5*1vh-2rem)] w-[100%] md:w-[38rem] bg-white rounded-[1rem] border border-[#ccc] overflow-y-auto overflow-x-hidden z-3">
  <form action="/" class="mx-4 my-auto items-center justify-between py-[1rem] md:flex hidden">
    <img src="{{currentUser.profile_picture}}"
      class="min-w-[2.5rem] min-h-[2.5rem] max-w-[2.5rem] max-h-[2.5rem] rounded-[50%] overflow-hidden" />
    <input type="text" placeholder="What's new" 
      class="plus-button justify-self-start w-full pl-4 mr-4 text-[13px] !outline-none" />
    <div
      class="plus-button inline-block px-[2rem] py-[.6rem] font-medium cursor-pointer transition ease-in-out duration-300 text-sm hover:opacity-80 bg-white text-black border border-black border-solid rounded-[.7rem]">
      Post
    </div>
  </form>

  <div class="feeds">
    {{#each threads}}
    <div class="block border-t border-[#ccc] pt-[1rem] px-[1rem]">
        <div class="flex gap-[1rem] text-black">
          <div class="m-0 p-0">
            <a href="/Profile/{{User.id}}" class="bg-black">
              <img src="{{User.profile_picture}}"
                class="min-w-[2.5rem] min-h-[2.5rem] max-w-[2.5rem] max-h-[2.5rem] rounded-[50%] overflow-hidden">
            </a>
          </div>
          
          <div class="flex justify-between min-w-[85%]">
            <div class="flex gap-[1rem]">
              <div class="flex flex-col gap-[.5rem]">
                <div class="ingo inline-flex gap-[10px] text-[.8rem]">
                  <h3>{{User.username}}</h3>
                  <h3 class="text-[#ccc]">{{timeAgo updatedAt}}</h3>
                </div>
                <a href="/Homepage/{{id}}">
                  <div class="content pb-1">
                    {{{content}}}
                  </div>
                
                  {{#each Media}}
                  <div class="photo">
                    <img src="{{mediaUrl}}" class="w-full max-w-[100%] h-auto object-cover" />
                  </div>
                  {{/each}}
                </a>
              </div>
            </div>
          </div>
          <span class="edit">
            <i class="fa-solid fa-ellipsis"></i>
          </span>
        </div>

      <div class=" py-[.8rem] px-[3.7rem] flex gap-[2rem] items-center">
        {{#if this.isLiked}}
        <span class="actionbutton like-button relative" data-post-id = "{{this.id}}" data-user-id = "{{currentUser.id}}" button-id = "unlike">
          <i class="fa-solid fa-heart ">
            <small
              class="text-[0.7rem] w-fit absolute left-[1rem] top-[1rem]">
              {{likeCount}}
            </small>
          </i>
        </span> 
        {{else}}
        <span class="actionbutton like-button relative" data-post-id = "{{this.id}}" data-user-id = "{{currentUser.id}}" button-id = "like">
          <i class="fa-regular fa-heart ">
            <small
              class="text-[0.7rem] w-fit absolute left-[1rem] top-[1rem]">
              {{likeCount}}
            </small>
          </i>
        </span> 
        {{/if}}

        <span class="actionbutton comment-button relative" data-post-id ="{{this.id}}">
          <i class="fa-regular fa-comment">
            <small
              class="text-[0.7rem] w-fit absolute left-[1rem] top-[1rem]">
              {{Comments.length}}
            </small>
          </i>
        </span>
        <span class="actionbutton retweet-button relative" data-post-id ="{{this.id}}">
          <i class="las la-retweet">
            <small
              class="text-[0.7rem] w-fit absolute left-[1.1rem] top-[1rem]">
              {{Reposts.length}}
            </small>
          </i>
        </span>
        <span class="actionbutton share-button relative">
          <i class="fa-solid fa-share"></i>
        </span>
      </div>
    </div>
    {{/each}}
  </div>
</div>

