<div class="scrollbar fixed top-[5.4rem] left-1/2 transform translate-x-[-50%] h-[calc(100vh-5*1vh-2rem)] w-[100%] md:w-[38rem] bg-white rounded-[1rem] border border-[#ccc] overflow-y-auto overflow-x-hidden z-3">
  <form action="/" class="mx-4 my-auto items-center justify-between py-[1rem] md:flex hidden">
    <img src="{{currentUser.profile_picture}}"
      class="min-w-[2.5rem] min-h-[2.5rem] max-w-[2.5rem] max-h-[2.5rem] rounded-[50%] overflow-hidden" />
    <input type="text" placeholder="What's new" id="plus-button-post"
      class="justify-self-start w-full pl-4 mr-4 text-[13px] !outline-none" />
    {{> button link="#" styling="bg-white text-black border border-black border-solid rounded-[.7rem]" text="<input
      type='submit' value='Post' class='cursor-pointer' />" }}
  </form>

  <div class="feeds">
    {{#each threads}}
    <div class="block border-t border-[#ccc] pt-[1rem] px-[1rem]">
        <div class="flex gap-[1rem] text-black">
          <a href="/Profile/{{User.id}}" class = "m-0 p-0" >
          <img src="{{User.profile_picture}}"
              class="min-w-[2.5rem] min-h-[2.5rem] max-w-[2.5rem] max-h-[2.5rem] rounded-[50%] overflow-hidden">
          </a>
          
          <div class="flex justify-between min-w-[85%]">
            <div class="flex gap-[1rem]">
              <div class="flex flex-col gap-[.5rem]">
                <div class="ingo inline-flex gap-[10px] text-[.8rem]">
                  <h3>{{User.username}}</h3>
                  <h3 class="text-[#ccc]">{{timeAgo updatedAt}}</h3>
                </div>
                <a href="/Homepage/{{id}}">
                  <div class="content pb-1">
                    {{{content}}}
                  </div>
                
                  {{#each Media}}
                  <div class="photo">
                    <img src="{{mediaUrl}}" class="w-full max-w-[100%] h-auto object-cover" />
                  </div>
                  {{/each}}
                </a>
              </div>
            </div>
          </div>
          <span class="edit">
            <i class="fa-solid fa-ellipsis"></i>
          </span>
        </div>

      <div class=" py-[.8rem] px-[3.7rem] flex gap-[1.5rem] items-center">
        {{#if this.isLiked}}
        <span class="actionbutton like-button relative" data-post-id = "{{this.id}}" data-user-id = "{{currentUser.id}}" button-id = "unlike">
          <i class="fa-solid fa-heart "></i>
        </span>
        {{else}}
        <span class="actionbutton like-button relative" data-post-id = "{{this.id}}" data-user-id = "{{currentUser.id}}" button-id = "like">
          <i class="fa-regular fa-heart "></i>
        </span> 
        {{/if}}

        <span class="actionbutton comment-button relative" data-post-id ="{{this.id}}">
          <i class="fa-regular fa-comment"></i>
        </span>
        <span class="actionbutton retweet-button relative">
          <i class="las la-retweet"></i>
        </span>
        <span class="actionbutton share-button relative">
          <i class="fa-solid fa-share"></i>
        </span>
      </div>
    </div>
    {{/each}}
  </div>
</div>

