            <div class="post container scrollbar fixed top-[5.4rem] left-1/2 transform translate-x-[-50%] h-[calc(100vh-5*1vh-2rem)] w-[100%] md:w-[38rem] bg-white rounded-[1rem] border border-[#ccc] overflow-y-auto overflow-x-hidden z-3">
                <div class="popup-header p-[1rem] ">
                    
                    <a href="javascript:window.history.back();">
                        <span class="back-button">&#8592;</span> 
                    </a>
                  </div>
                <div class="post details block border-y border-[#ccc] pt-[1rem] px-[1rem]">
                        <div class="flex justify-between gap-[1rem] text-black">
                        <img src="{{thread.User.profile_picture}}"
                            class="min-w-[2.5rem] min-h-[2.5rem] max-w-[2.5rem] max-h-[2.5rem] rounded-[50%] overflow-hidden" />
                        <div class="flex flex-1 gap-[1rem]">
                            <div class="flex flex-col gap-[.5rem]">
                                <div class="ingo inline-flex gap-[10px] text-[.8rem]">
                                    <h3>{{thread.User.username}}</h3>
                                    <h3 class="text-[#ccc]">{{timeAgo thread.createdAt}}</h3>
                                </div>

                                <div class="content">
                                    {{thread.content}}
                                </div>

                                {{#each thread.Media}}
                                <div class="photo">
                                    <img src="{{mediaUrl}}" class="w-full max-w-[100%] h-auto object-cover" />
                                </div>
                                {{/each}}
                            </div>
                        </div>
                            <span class="edit">
                                <i class="fa-solid fa-ellipsis"></i>
                            </span>
                        </div>

                        <div class="mb-[1rem] pt-[1rem] px-[3.7rem] flex gap-[1.5rem] justify-between">
                            <span class="actionbutton like-button relative">
                            <i class="fa-regular fa-heart"></i>
                            </span>
                            <span class="actionbutton comment-button relative" data-post-id ="{{thread.id}}">
                            <i class="fa-regular fa-comment"></i>
                            </span>
                            <span class="actionbutton share-button relative">
                            <i class="fa-solid fa-share"></i>
                            </span>
                        </div>
                </div>
                <div class="comments-section pb-[1rem] px-[2rem]">
                    <!-- Comment Input Section -->
                    {{#each thread.Comments}}
                    <div class="comment pt-4 flex justify-between gap-4 text-black border-b border-gray-300">
                        <img src="{{this.User.profile_picture}}"
                            class="min-w-[2.5rem] min-h-[2.5rem] max-w-[2.5rem] max-h-[2.5rem] rounded-full overflow-hidden" />
                        <div class="comment-container flex-1">
                            <div class="comment-content">
                                <div class="comment-header inline-flex gap-2 text-sm">
                                    <h3>{{this.User.username}}</h3>
                                    <h3 class="text-gray-400">{{timeAgo this.createdAt}}</h3>
                                </div>
                                <div class="comment-text">
                                    {{this.content}}
                                </div>
                            </div>
                            <div class="comment-buttons m-[.5rem] py-[0.1rem] ">
                                <span class="actionbutton like-button relative">
                                <i class="fa-regular fa-heart"></i>
                                </span>
                            </div>  
                        </div>
                    </div>
                    {{/each}}
                </div>
        </div>
 