        <div class="post details block py-[1rem] px-[1rem] border-y border-[#ccc]">
            <div class="flex justify-between gap-[1rem] text-black">
            <img src="{{thread.User.profile_picture}}"
                class="min-w-[2.5rem] min-h-[2.5rem] max-w-[2.5rem] max-h-[2.5rem] rounded-[50%] overflow-hidden" />
            <div class="flex flex-1 gap-[1rem]">
                <div class="flex flex-col gap-[.5rem]">
                    <div class="ingo inline-flex gap-[10px] text-[.8rem]">
                        <h3>{{thread.User.username}}</h3>
                        <h3 class="text-[#ccc]">{{timeAgo thread.createdAt}}</h3>
                    </div>
                    <div class="content">
                        {{thread.content}}
                    </div>
                    {{#each thread.Media}}
                    <div class="photo">
                        <img src="{{mediaUrl}}" class="w-full max-w-[100%] h-auto object-cover" />
                    </div>
                    {{/each}}
                  </div>
              </div>
          </div>
        </div>
        <div class="p-[.5rem] h-full w-full md:h-auto md:w-auto flex justify-center gap-[1rem] text-black">
                <form action = "/Button/Repost/{{thread.id}}"  method="POST" class="md:min-w-[30rem] max-h-[80%] text-[.8rem] pt-[.5rem]">
                    <input type="hidden" name="user_id" value="{{currentUser.id}}" />
                    <input type="hidden" name="thread_user_id" value="{{thread.User.id}}" />
                    <button type="submit"
                        class="border border-black border-solid w-full text-black p-2 rounded-lg bg-white hover:bg-black hover:text-white transition-all duration-300 mt-auto">
                        Repost
                    </button>
                </form>
        </div>
